{% extends "../../base.html" %} 

{% block title %} News{% endblock %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis" style="color: #b55610;">
        WELCOME TO OUR NEWS!
    </h1>

    <div class="col-lg-6 mx-auto">

      <p class="lead mb-4"  style="color: #5E3A17;">
          GET THE LATEST NEWS ABOUT OUR ALUMNI AND THE ALMA MATE HERE!
      </p>
      
      <hr/>
    </div>
  </div>

    {% for article in articles %}
        <h2>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
        </h2>

        <p>
            <b>Tags :</b> 

            {% for tag in article.tags.all %}

                <a href="{% url "newsApp:article_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                </a>

                {% if not forloop.last %}, {% endif %}

            {% endfor %}

            {% comment %} {{ article.tags.all|join:", " }} {% endcomment %}
            
        </p> 

        <p>
            Published : {{ article.publish }} by {{ article.author }}
        </p>

        {{ article.body | truncatewords:50|linebreaks }}
    {% endfor %}

    {% comment %} 
        Function Based View
        {% include "../pagination.html" with page=articles %} 
    {% endcomment %}

    {% include "../../partials/pagination.html" with page=articles %} 

    {% comment %} CLASS BASED WAY OF PASSING THE PAGINATION {% endcomment %}
    {% comment %} {%include "../pagination.html" with page=page_obj %} {% endcomment %}

{% endblock %}




