{% load static %}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

    <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          
            <img 
            src="{% static 'img/logo_trans.png' %}"
            alt="logo" 
            height="100"
            loading="lazy"                  
            />
        </a>
        <p class="text-muted">NUST ALUMNI MANAGEMENT SYSTEM, inc &copy; 2023<br/>Powered by Phoenix</p>
    </div>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"></a><i class="fab fa-linkedin fa-2x"></i></li>
    <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-github fa-2x"></i></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-twitter fa-2x" ></i></a></li>
</ul>
</footer>